@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    font-weight: 100%;
    box-sizing: border-box; /* Para que el padding y borde no sume al ancho */
    text-decoration: none; /* quitamos todos los subrayados de los enlaces */
    font-weight: normal;
}

@font-face {
    font-family: homepage;
    src: url(../fuentes/Homepagebaukasten\ Bold.ttf);
    /*src:url(/fuentes/Homepagebaukasten\ Bold.ttf);*/
}
@font-face {
    font-family: open24;
    src: url(../fuentes/Open\ 24\ Display\ St.ttf);
    /*src: url(/fuentes/Open\ 24\ Display\ St.ttf);*/
}

body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px; /* Para que la página no sea muy ancha
                en monitores horizontales de mucha resolución*/
    margin: auto; /* La centramos a partir de 1200px */
}

header {
    background-color: #1f2833;
}
header h1 {
    color: #66fcf1;
    /* Para hacer la letra responsiva:
    - vw: es un porcentaje del ancho del viewport (zona disponible)
    - le sumamos los rem para no tener problemas de accesibilidad */
    font-size: calc(1rem + 4vw);
    text-align: center;
    text-shadow: 2px 2px 8px rgb(124, 229, 124), -2px -2px 8px rgb(124, 229, 124);
    font-family: homepage, sans-serif;
    /* Mientras no cargue la fuente que muestre una del sistema */
    font-display: swap;
}
header nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 2rem; /* Separación entre filas y entre columnas */
}
header nav a {
    color: #66fcf1;
    border-bottom: 4px solid #66fcf1;
    padding-bottom: .5rem; /* Para que no quede tan pegado el borde */
}
header nav a:hover {
    color: rgb(124, 229, 124);
    border-color: rgb(124, 229, 124);
    text-shadow: 2px 2px 8px rgb(124, 229, 124), -2px -2px 8px rgb(124, 229, 124);
}
footer {
    border-top: 1px solid #333;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: .8rem;
    color: #888;
}
footer a {
    color: white;
}
.atribucion a {
    text-decoration: underline;
}
.redes a {
    margin-right: 2rem;
}
.foto {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.foto img {
    max-width: 30%;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    /* Sin esto la imagen puede crecer mucho del alto con lo que queda deformada,
    pues flex por defecto usa stretch para que todas las columnas tengan el mismo
    alto */
    align-self: center;
}

.foto:nth-of-type(odd) {
    background-color: #1f2833;
}

.foto h2 {
    color: #66fcf1;
    font-family: homepage, sans-serif;
    font-size: calc(1rem + 1vw);
    border-bottom: 2px solid #66fcf1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .4rem 1rem;
}

.foto p {
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



